{% extends "base.html" %}
{% block content %}
    {% for card in cards %}
        <div class="card">
            <h2 class="card-title">
                <span class="list_name">
                    {{card.list_name}}
                </span>
                {{ card.name }}
            </h2>
            {% for checklist in card.checklists %}
                <div class="checklists">
                    {% for item in checklist.checkItems %}
                    <ul class="checklist">
                        <li class="checklist-item {{ item.state }}">&nbsp;&nbsp;&nbsp;&nbsp;
                            {{ item.name }}
                        </li>
                    </ul>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}